DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@melbournemakerspace.org
ADMIN_EMAIL=admin@melbournemakerspace.org
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Phase 2 - PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=

# Future - DocuSeal
DOCUSEAL_API_KEY=
DOCUSEAL_BASE_URL=

# Future - Stripe (optional alternative to PayPal)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=
