{$CUBIT_HOSTNAME} {
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options nosniff
        Referrer-Policy same-origin
        X-Frame-Options DENY
        X-Robots-Tag "noindex, nofollow"
    }
    reverse_proxy 127.0.0.1:5001
}

https://{$CUBIT_HOSTNAME}:8443 {
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options nosniff
        Referrer-Policy same-origin
        X-Robots-Tag "noindex, nofollow"
    }
    request_body {
        max_size 15MB
    }
    reverse_proxy 127.0.0.1:3000
}
